.cart-receipt {
  position: fixed;
  height: 120px;
  width: 100%;
  bottom: 50px;
  background-color: #ffffff;
}

.cart-receipt__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  max-width: 1200px;
  padding: 10px 20px 0 20px;
  margin: auto;
}

.checkout {
  height: 100px;
  width: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #00a0461a;
  border: 1px solid #00a046;
  border-radius: 4px;
}

.checkout__amount {
  font-size: 18px;
  font-weight: 700;
}

.checkout__btn {
  box-sizing: border-box;
  display: inline-block;
  font-family: -apple-system, Arial, Segoe UI, Roboto, Helvetica, sans-serif;
  margin: 0;
  outline: none;
  position: relative;
  text-align: center;
  transition-duration: 0.2s;
  transition-property: color, background-color, border-color;
  transition-timing-function: ease-in-out;
}
