.orders {
  background-color: #ccc;
  height: 100%;
  position: relative;
}

.title {
  font-weight: 700;
  font-size: 45px;
  text-align: center;
}

.orders__titles {
  display: grid;
  grid: repeat(1, 60px) / auto-flow 20% 15% 25% 20%;
  justify-content: space-between;
  font-size: 25px;
  font-weight: 600;
}
.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
