@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

body {
  font-family: "Lato", sans-serif;
}

.card__container {
  display: flex;
  align-items: center;
  margin: auto;
  margin-top: 20px;
  overflow: hidden;
  width: 520px;
  box-shadow: 0px 0px 5px 5px #f5f5f5;
  border-radius: 10px;
}
.card__container:hover {
  box-shadow: 0px 0px 5px 10px #f5f5f5;
}

.card__container p {
  font-size: 0.6em;
  letter-spacing: 1px;
}

.card__container h1 {
  font-size: 1.2em;
  color: #4e4e4e;
}

.card__container h2 {
  color: #c3a1a0;
  margin-top: 5px;
}

.image__wrapper {
  width: 50%;
}

.image {
  padding: 10px;
  width: 290px;
  height: 250px;
  object-fit: contain;
}

.asside {
  width: 50%;
}

.slideshow-buttons {
  top: 70%;
  display: none;
}

.description {
  text-transform: none;
  margin-bottom: 17px;
  color: #4e4e4e;
  line-height: 1.6em;
  margin-right: 25px;
  text-align: justify;
}

.add_to_cart_btn,
.remove-btn {
  background: #e0a8ad;
  padding: 10px;
  display: inline-block;
  outline: 0;
  border: 0;
  margin: -1px;
  border-radius: 2px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #f5f5f5;
  cursor: pointer;
}

.add_to_cart_btn:hover,
.remove-btn:hover {
  background: #e0a8ada8;
}

.add_to_cart_btn:active,
.remove-btn:active {
  background: #61595aa8;
}
