.shop {
  max-width: 1200px;
  padding: 0 20px 0 20px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 60px;
}

.filter {
  padding: 10px 0 10px 0;
  text-align: center;
}

.filter_input {
  width: 50%;
  height: 45px;
  outline: 1px;
  border: 0;
  outline-style: solid;
  outline-color: #4e4e4e;
  border-radius: 2px;
  font-size: 18px;
  color: #4e4e4e;
  font-family: Lato, sans-serif;
}

.filter_input:focus {
  color: #221f1f;
  outline-width: 2px;
}

/* LOADER */

.loader {
  margin-top: 200px;
  display: inline-block;
  width: 100px;
  height: 100px;
}

.loader:after {
  content: " ";
  display: block;
  width: 84px;
  height: 84px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid rgb(137, 134, 131);
  border-color: rgb(137, 134, 131) transparent rgb(137, 134, 131) transparent;
  animation: loader 1.2s linear infinite;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* LOADER */
