@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

.container {
  max-width: 1200px;
  height: 500px;
  margin: auto;
  padding: 0 20px 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 0px 0px 5px 10px #f5f5f5;
  overflow: hidden;
  font-family: "Lato", sans-serif;
}

.container h1 {
  font-size: 1.5em;
  font-weight: 700;
  color: #4e4e4e;
}

.container h2 {
  color: #c3a1a0;
  margin-top: 5px;
}

.image {
  padding: 10px;
  width: 35vw;
  height: auto;
  object-fit: contain;
  max-height: 490px;
}

.product {
  padding: 10px;
  width: 35vw;
  height: auto;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.slideshow-buttons {
  top: 70%;
  display: none;
}

.description {
  text-transform: none;
  font-size: 1em;
  margin-bottom: 17px;
  color: #4e4e4e;
  line-height: 1.6em;
  margin-right: 25px;
  text-align: justify;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
}

.add_to_cart_btn,
.remove-btn {
  background: #e0a8ad;
  padding: 10px;
  display: inline-block;
  outline: 0;
  border: 0;
  margin: -1px;
  border-radius: 2px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #f5f5f5;
  cursor: pointer;
}

.add_to_cart_btn:hover,
.remove-btn:hover {
  background: #e0a8ada8;
}

.add_to_cart_btn:active,
.remove-btn:active {
  background: #61595aa8;
}
