.header {
  height: 70px;
  position: sticky;
  top: 0px;
  background-color: #221f1f;
}

.nav {
  max-width: 1200px;
  padding: 0 20px 0 20px;
  margin: auto;
}

.nav__list {
  padding: 0;
  margin: 0;
  padding: 15px 0 5px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

a {
  color: #fff;
}

.transform:active {
  transform: scale(1.1);
}

.group {
  display: flex;
  align-items: center;
}

.cart_wrapper {
  position: relative;
}

.counter {
  font-size: 12px;
  padding: 2px;
  top: -3px;
  left: 15px;
  position: absolute;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: #221f1f;
  border: 2px solid rgb(255, 255, 255);
  color: white;
  text-align: center;
}

.user {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-right: 20px;
}

.user_name {
  color: white;
}

.logout_btn {
  cursor: pointer;
}

.user_img {
  margin-right: 40px;
}
