.admin {
  max-width: 1200px;
  padding: 0 20px 0 20px;
  margin: auto;
}

.admin__wrapper {
  display: flex;
}

.admin__title {
  padding-bottom: 40px;
}

.admin__products {
  width: 74%;
}

.product__wrapper {
  display: block;
}

.products__title {
  display: flex;
  gap: 20px;
}

.product__info {
  display: grid;
  grid-template-columns: 4;
  gap: 20px;
}
